/* Login.css */
.form-wrapper {
    max-width: 28rem;
    margin: auto;
}

.form {
    padding: 2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.input-group {
    position: relative;
    margin: 1rem 0;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #757575;
}

.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #4ea685;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

p {
    color: #ff0000;
    text-align: center;
}
